.App {
  text-align: center;
}

.profile-pic{
  padding:1.2em;
  border-radius: 80%; 
  transition: transform 0.3s ease-in-out;

  }

.profile-pic:hover{
  transform: scale(1.03);

}


.section-1{ 
  position: relative;
}

.Intro{
  text-align: left;
  padding-top: 3em;
  max-width: 1400px;
}

.link{
  padding-left:5px
}

.card{
  width: 18rem;
}

.contact{
  padding-top: 1.5em;
  text-align: left;
}

.contact-link{
  color: black;
  text-decoration: none;
  padding-top: 0.5em;
}

.Resume{
  text-align: center;
}
.contact-link:hover{
  text-decoration: underline;
}

.section-2{
  position: relative;
 padding: 1em;
 text-align: left;
 padding-left:34%;
 padding-top:2em;
}

.projects{
  position: relative;
 padding: 1em;
 text-align: left;
 padding-left:34%;
 padding-top:2em;
}

.publication{
position: relative;
 padding: 1em;
 text-align: left;
 padding-left:34%;
 padding-top:2em;
}

.research{
  position: relative;
   padding: 1em;
   text-align: left;
   padding-left:34%;
   padding-top:2em;
  }

  .activities{
    position: relative;
     padding: 1em;
     text-align: left;
     padding-left:34%;
     padding-top:2em;
    }